<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.seucomtest" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SeucomTest"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".dashboard.EditActivity"
            android:exported="false"
            android:theme="@style/Material"
            />
        <activity
            android:name=".dashboard.AddWarung"
            android:exported="false"
            android:theme="@style/Material" />
        <activity
            android:name=".dashboard.DashBoardActivity"
            android:exported="false" />
        <activity
            android:name=".login.RegisterActivity"
            android:exported="false"
            android:theme="@style/Material" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true"
            android:theme="@style/Material" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>